name: Deploy

on:
  push:
    branches: [master]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy over SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: vv0wjjh1fug2tks7.myfritz.net
          username: inozenz
          port: 22
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            set -e
            cd /home/inozenz/code/swiss-job-search
            git pull
            bun install
            bun run build
            pm2 restart jobs
